
<div class="comunications-message"> 
    <p class="comunications-tex">${message}</p>
    <img
     class="comunications-picture"
     src="./img/${pictureName}.webp"
      alt="Nombre y familia del que habla"
    />
  </div>`;