<div>
    <button>habla</button>
    <button>muere</button>
</div>

<style>
    div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 80%;
    user-select: none;
    border: 1px solid;
    margin-left: 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;

    &:not(:disabled) {
      cursor: pointer;
    }
    &:hover {
      color: #212529;
    }
  }

</style>